/* 
    Document   : controlStyle1
*/

.split-pane,{
    -fx-background-color:
        linear-gradient(to bottom right, red , black);

       /*radial-gradient(center 50% 50%, radius 300%, black, wheat);*/
}

.button {
    /*-fx-padding: 8 15 15 15;*/
    /*-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;*/
    -fx-background-radius: 8;
    -fx-background-color:
        radial-gradient(center 50% 50%, radius 175%, #fff1f4, #162263);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#delBtn,#acBtn{
    -fx-background-color:
        radial-gradient(center 50% 50%, radius 175%, #ff7500, #162263);
}

#display{
    -fx-background-color: lightgreen;
    -fx-font-family:"Digital dream Fat" ;
    -fx-font-size: 150%;
    -fx-font-weight: bold;
}